body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 300px;
    background-color: #fff;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #24292e;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #2ea44f;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #228f3e;
}

.error {
    color: red;
    margin-top: 10px;
}

.back-btn {
    display: block;
    margin-top: 10px; /* Atur jarak antara tombol Back dan tombol Login */
    text-decoration: none;
    color: #555;
}
